{
  "exclude": [
      "server",
      "__tests__",
      "src/models/index.js",
      "src/routes",
      "src/server.js",
      "webpack.config.babel.js"
    ],
    "reporter": [
      "lcov",
      "html",
      "text"
    ]
}
