{
  "require": [
      "@babel/register"
    ],
  "exclude": [
      "server",
      "__tests__",
      "dist/models/index.js",
      "dist/routes",
      "dist/server.js",
      "webpack.config.babel.js"
    ],
    "reporter": [
      "lcov",
      "html",
      "text"
    ]
}
